/* Chat.css */

.chat-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.message {
  margin-bottom: 8px;
}

.form-container {
  margin-top: 10px;
}

input[type="text"] {
  width: 80%;
  padding: 8px;
  margin-right: 8px;
}

.chat-button {
  padding: 8px 16px;
  background-color: #49a749;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.chat-button:hover {
  background-color: #49a749;
}

.profile-section {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}

/* Chat.css */
.full-screen-chat {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: grey;
  /* sau orice altă culoare de fundal dorită */
  display: flex;
  flex-direction: column;
}

.chat-header {
  padding: 10px;
  background-color: #4267b2;
  /* sau orice altă culoare pentru antetul chat-ului */
  color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.chat-messages {
  overflow-y: auto;
  max-height: calc(100% - 40px);
  /* Ajustează în funcție de înălțimea antetului și a input-ului */
}

.chat-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.chat-input input {
  flex: 1;
  padding: 5px;
  margin-right: 10px;
  color: black;
}

.chat-input button {
  padding: 5px 10px;
  background-color: #4267b2;
  /* sau orice altă culoare pentru butonul Send */
  color: white;
  border: none;
  cursor: pointer;
}

.ce-message-username {
  color: black !important;
  /* !important is used to override existing styles */
}

.ce-person-container {
  color: black;
}

.ce-section-title-container {
  color: black;
}

.ce-options-drop-down {
  color: black;
}