/* FullScreenChat.css */

.full-screen-chat-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: center;
  justify-content: center;
  align-items: center;
}

.full-screen-chat-container {
  background: grey;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #333;
  width: 50px;
  height: 50px;
}

.chat-organizations {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.go-to-chat-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.go-to-chat-button:hover {
  background-color: #45a049;
}

/* Add more styles as needed for your Chat component and other elements */

.full-screen-chat-container {
  background: grey;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #333;
  background-color: red;
}


.chat-organizations {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.go-to-chat-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.go-to-chat-button:hover {
  background-color: #45a049;
}

.ChatEngine__chat-feed-message-username {
  color: #3498db;
  /* Change this to the desired color for user names */
}

/* Add more styles as needed for your Chat component and other elements */