/* Add these styles to your CSS file or component */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-item {
  padding: 12px 16px;
  display: block;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 8px;
    font-size: 14px; /* Adjust the font size as needed */
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-button {
    margin-left: 8px;
    padding: 8px;
    font-size: 14px; /* Adjust the font size as needed */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .suggestion-section,
  .category-section {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 4px; /* Adjust the margin as needed */
  }
  
  .suggestion-item {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .suggestion-item:hover {
    background-color: #f0f0f0;
  }
  